<div class='container-fluid'>
  <div class="row p-4">
    <div class="col">
      <p class="text-center">Answers for this question</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10 p-4">
      <div class="media mb-2">
        <img src="http://www.gravatar.com/avatar/424242" class="mr-3" alt="avatar">
        <div class="media-body">
          <h5 class="mt-0 ">user@mail.com</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <a href="/questions/12" type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#answerModal">
        Clic here to answer this question
      </a>

      <%= render 'home/new_answer_form'%>

    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 p-4">
      <div class="media">
        <img src="http://www.gravatar.com/avatar/424242" class="mr-3" alt="avatar">
        <div class="media-body">
          <h5 class="mt-0 ">user@mail.com Answers:</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>


</div>