<nav class="navbar navbar-light bg-warning">
  <a class="navbar-brand text-dark font-weight-bold">Ask any question about Health and dietary</a>
  <button type="button" class="btn btn-success my-2 my-sm-0 font-weight-bold text-light" data-toggle="modal" data-target="#exampleModal" >Ask Question</button>
</nav>
