// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxes {
  .media.mb-2 {
    border: solid #c0f1ed thin;
    padding: 1em;
    border-radius: 8px;
    background-color: aliceblue;
  }

}
